{% extends "layout.html" %}
{% block title %}contact{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
{% include 'partials/_nav.html' %}
<form action="{{url_for('store_message')}}" method="post">
<div class="mb-3">
  <label for="contact" class="form-label">contacter nous</label>
  <textarea class="form-control" name="message" id="contact" rows="3"></textarea>
</div>
  <input type="submit" value="envoyer" class="btn btn-primary" >
  </form>
{% endblock %}